@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,600;0,700;0,900;1,600&display=swap');
$mainColor : #BEA67C;
$white : #fff;
$black : #000;
$sourceSans: 'Source Sans 3',
sans-serif;
